/*******************
Base
*******************/

body {
  margin: 0;
  padding: 0;
  background-color: #34495e;
  height: 100%;
  width: 100%;
}

#main-game {
  display: block;
}



/*******************
BUTTONS
*******************/

.controls {
  padding: 0;
  margin: 0;
}

.controls a {
  display: inline-block;
  color: #ecf0f1;
  height: 100%;
  width: 100%;
}

.controls a:hover {
  color: #ecf0f1;
  text-decoration: none;
}

.controls .btn:hover {
  border: none;
}



/*******************
Title
*******************/

.title {
  font-size: 3em;
  padding: 0;
  margin: 0 0 10px;
  color: #ecf0f1;
  display: inline-block;
}



/*******************
Board
*******************/

.turn-status {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #ecf0f1;
  font-size: 2em;
  padding-top: 5px;
}

.board {
  margin: 5px auto;
  min-width: 100%;
  padding: 5px;
  min-height: 100%;
  background-color: #bdc3c7;
  color: #34495e;
  border-radius: 5px;
}

.flag {
  height: 30px;
}

.player-name {
  font-size: 2em;
}



/*******************
Instructions
*******************/

.instructions {
  display: none;
}

.instructions a {
  font-size: 1.2em;
}

.instructions ul,
.instructions p,
.instructions a {
  color: #ecf0f1;
}

.how-to-play h1 {
  margin-top: 30px;
  text-decoration: underline;
}

.how-to-play li,
.how-to-play p {
  font-size: 1.1em;
}

.how-to-play li {
  margin: 10px auto;
  list-style: none;
}



/*******************
Asset
*******************/

.player-assets ul {
  padding: 10px;
  width: 100%;
  list-style: none;
  background-color: #bdc3c7;
  color: #34495e;
  border-radius: 5px;
}

.players {
  border-left: 1px solid white;
}



/*******************
Overlay
*******************/

#overlay {
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.8);*/
  background-color: black;
  display: none;
  position: absolute;
  top:0;
  left:0;
  color: #ecf0f1;
}
