/*******************
Base
*******************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #34495e;
}



/*******************
Colors
*******************/

.red {
  color: red;
}

.gold {
  color: gold;
}



/*******************
Title
*******************/

.game-title {
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ecf0f1;
}



/*******************
Board Container
*******************/

.container {
  min-width: 100%;
  min-height: 100%;
  margin-top: 50px;
}



/*******************
Board
*******************/

.turn-status {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ecf0f1;
  font-size: 1.5em;
}

.board {
  margin: 0 auto;
  max-width: 60%;
  min-height: 400px;
  position: relative;
  background-color: #bdc3c7;
  color: #34495e;
}



/*******************
Dashboard
*******************/

.dashboard:nth-child(odd) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 75px;
  border-radius: 0 0 20px 0;
  background-color: white;
}

.dashboard:nth-child(even) {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 75px;
  border-radius: 20px 0 0 0;
  background-color: white;
  text-align: right;
}

.stats {
  font-size: 1.5em;
}

.player {
  font-size: 3.2em;
}

.player-1 .player {
  margin-left: 5px;
}

.player-2 .player {
  float: right;
  margin-left: 30px;
  margin-right: 5px;
}

.player-1 .stats {
  margin-left: 15px;
  display: inline-block;
  padding-top: 20px;
}

.player-2 .stats {
  margin-right: 15px;
  display: inline-block;
  padding-top: 20px;
}



/*******************
Capitals
*******************/

.capital {
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  bottom: 30%;
}

.capital img {
  height: 150px;
}

.capital-1 {
  left: 100px;
}

.capital-2 {
  right: 100px;
}



/*******************
Clearfix
*******************/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}



/*******************
Buttons
*******************/

.next-turn,
.start-button {
  width: 150px;
  height: 30px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: white;
}

.get-instructions {
  width: 150px;
  height: 30px;
  font-size: 1.2em;
  border-radius: 10px;
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
}

.how-to-play {
  text-align: center;
  display: none;
}



/*******************
Instructions
*******************/

.instructions{
  list-style: none;
  background-color: #ecf0f1;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  line-height: 30px;
}

.how-to-play h1,
.how-to-play p {
  color: #ecf0f1;
}

.instructions h1 {
  /*margin: 0;*/
  padding: 0;
  color: black;
}



/*******************
Asset
*******************/

.player-assets ul {
  padding: 10px;
  width: 180px;
  list-style: none;
  background-color: #bdc3c7;
  border-radius: 15px;
  border: 3px solid white;
}

.player1-assets {
  position: absolute;
  display: inline-block;
  float: left;
  left: 5px;
  top: 25%;
}

.player2-assets {
  position: absolute;
  display: inline-block;
  float: right;
  right: 5px;
  top: 25%;
}

b {
  font-size: 20px;
}



/*******************
Overlay
*******************/

#overlay {
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.8);*/
  background-color: black;
  display: none;
  position: absolute;
  top:0;
  left:0;
  color: #ecf0f1;
}

#left-div {
  text-align: left;
  width: 40%;
  border: 1px solid black;
}

#right-div {
  text-align: right;
  width: 40%;
}
